name: Save comment

on:
  workflow_call:
    inputs:
      text:
        required: true
        type: string
      search_key:
        required: true
        type: string
      timezone:
        required: true
        type: string

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: anna-money/wokflow-comment/.github/actions/comment@master
        with:
          text: ${{ inputs.text }}
          search_key: ${{ inputs.search_key }}
          timezone: ${{ inputs.timezone }}