name: Pull requests

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Run local action
        uses: ./
        id: bump
        with:
          timezone: "Europe/London"
          search_key: "Test comment"
          text: Test comment